*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e47425d1-6e7d-4317-b861-3776d2e64404/datlzos-ca16076c-f948-481c-a49c-3ba77fd7b5a6.jpg/v1/fill/w_1600,h_873,q_75,strp/release_by_tacosauceninja_datlzos-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODczIiwicGF0aCI6IlwvZlwvZTQ3NDI1ZDEtNmU3ZC00MzE3LWI4NjEtMzc3NmQyZTY0NDA0XC9kYXRsem9zLWNhMTYwNzZjLWY5NDgtNDgxYy1hNDljLTNiYTc3ZmQ3YjVhNi5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6mWvweY_PZTEDfTLu8RG8f_OHoCdswV1tQFQcYC-i7w");
}
.bg{
    width: 100%;
    background-size: cover;
    animation: moveBackground 4s linear infinite alternate;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.resetpassword h2{
    font-size: 30px;
    color: black;
    text-align: center;
}
.resetpassword{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 20px;
    animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
}
.resetpassword{
    opacity: 0;
}
.resetpassword:hover{
    opacity: 100%;
    transition-duration: 0.5ms;
}
.resetpassword:hover{
    backdrop-filter: blur(40px);
    transition-duration: 5s;

    
    /*text-shadow: 
      -1px -1px 0px rgba(0, 78, 169, 0.4),
      0px -1px 0px rgba(0, 78, 169, 0.4),
      1px -1px 0px rgba(0, 78, 169, 0.4),
      -1px  0px 0px rgba(0, 78, 169, 0.4),
      1px  0px 0px rgba(0, 78, 169, 0.4),
      -1px  1px 0px rgba(0, 78, 169, 0.4),
      0px  1px 0px rgba(0, 78, 169, 0.4),
      1px  1px 0px rgba(0, 78, 169, 0.4),
      -2px -2px 0px rgba(0, 78, 169, 0.4),
      -1px -2px 0px rgba(0, 78, 169, 0.4),
      0px -2px 0px rgba(0, 78, 169, 0.4),
      1px -2px 0px rgba(0, 78, 169, 0.4),
      2px -2px 0px rgba(0, 78, 169, 0.4),
      2px -1px 0px rgba(0, 78, 169, 0.4),
      2px  0px 0px rgba(0, 78, 169, 0.4),
      2px  1px 0px rgba(0, 78, 169, 0.4),
      2px  2px 0px rgba(0, 78, 169, 0.4),
      1px  2px 0px rgba(0, 78, 169, 0.4),
      0px  2px 0px rgba(0, 78, 169, 0.4),
      -1px  2px 0px rgba(0, 78, 169, 0.4),
      -2px  2px 0px rgba(0, 78, 169, 0.4),
      -2px  1px 0px rgba(0, 78, 169, 0.4),
      -2px  0px 0px rgba(0, 78, 169, 0.4),
      -2px -1px 0px rgba(0, 78, 169, 0.4);
      2px 2px 8px rgba(0, 78, 169, 0.4);*/
}
.User-box{
    margin: 0 0 30px;
    padding: 0;
    color: aliceblue;
    text-align: center;
    position: relative;
}
.resetpassword .User-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px solid #fff;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    
}
.resetpassword .User-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    cursor: pointer;
}
.resetpassword .User-box input:focus ~ label,
.resetpassword .User-box input:active ~ label{
    top: -20px;
    left: 0;
    color: aqua;
    font-size: 12px;
}
.resetpassword form {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-size: 16px;
}
.resetpassword form a:hover{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #FFD93D,
                0 0 25px #FFD93D,
                0 0 50px #FFD93D,
                0 0 100px #FFD93D;
}
.resetpassword a span{
    position: absolute;
    display: block;
}
.resetpassword a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FFD93D);
    animation: btn-anim-1 1s linear infinite;
}

@keyframes btn-anim-1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.resetpassword a span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(180deg, transparent,#FFD93D);
    animation: btn-2-anim-2 1s linear infinite;
    animation-delay: .25s;
}
p{
    padding-top: 10px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 2px;
}
@keyframes btn-anim-2{
    0%{
        top:-100%
    }
    50%,100%{
        top:100%;
    }
}
.resetpassword a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#FFD93D);
    animation: btn-anim-3 1s linear infinite;
}
@keyframes btn-anim-3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.resetpassword a span:nth-child(4){
    bottom: 0;
    left: 0;
    height: 2px;
    width: 2px;
    background: linear-gradient(360deg,transparent,#FFD93D);
    animation: btn-anim-4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim-4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

@keyframes moveBackground {
    from {
        background-position: 0 0;}
    to {
        scale: 1.1;
        background-position: 100% 0;}
}

@keyframes moveBackground {
    from {
        background-position: 0 0;}
    to {
        scale: 1.1;
        background-position: 100% 0;}
}

.resetpassword a:hover{
    opacity: 0.8;
}
.resetpassword a:focus{
    outline-color: transparent;
}